// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


// Custom CSS Files
@import "../scss/base/base.scss";
@import "../scss/components/navbar.scss";
@import "../scss/pages/hero.scss";


.variable-height-section {
  height: auto;
  // min-height: 100vh; /* Optional */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.about-title {
  background-image: url('../img/group-riders.jpg');
  background-size: cover;
  background-position: center;
  min-height: 50vw;
}

.about-text {
  padding-top: 6vh;
  padding-bottom: 6vh;
  @include media-breakpoint-up(md) {
    padding-top: 10vh;
    padding-bottom: 15vh;
  }
}

.brand-text {
  font-family: "Urbanist", sans;
  font-style: italic;
  font-weight: 600;
  color: var(--bs-warning);
}

// .active-ride {
//   background-color: var(--bs-warning);
//   color: white;
// }

.lead, .card-header {
  font-size: 1.4rem !important;
}

p {
  font-size: 1.25rem !important;
}

.body-text {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}