// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


html {
    scroll-behavior: smooth;
}

.nav-link {
    position: relative;
}
  
.nav-link::after {
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: darkcyan;
    position: absolute;
    bottom: 0;
    left: 0;
}
  
.nav-link:hover::after {
    content: '';
    opacity: 1;
}

.active {
  color: white;
  background-color: black;
}